:root {
  --medium-gray: #bababa;
  --light-gray: #e3e3e3;
  --basic-red: #e8372d;
  --basic-navy: #043682;
}
.hidden {
  display: none !important;
}
body {
  position: relative;
  height: fit-content;
  margin: 0;
  padding: 0px 0px 180px 0px;
  font-family: "Poppins", sans-serif;
  background: var(--light-gray);
}
main {
  height: fit-content;
  width: 700px;
  max-width: 95%;
  margin: auto;
}
header.cnn {
  background: var(--basic-red);
}
header.nbc {
  background: var(--basic-navy);
}
img.logo {
  width: 75px;
  height: auto;
}
#header-content {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: solid white 2px;
  position: relative;
}
nav#menu {
  z-index: 900;
  position: absolute;
  top: 0;
  right: 0px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}
header.cnn nav#menu {
  background: var(--basic-red);
}
header.nbc nav#menu {
  background: var(--basic-navy);
}
nav#menu a {
  color: white;
}
nav#menu a:visited {
  color: white;
}
#overlay {
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 20px;
}
#overlay-content {
  background: white;
  color: black;
  border: solid rgba(255, 255, 255, 0.75) 15px;
  box-sizing: border-box;
  width: 700px;
  max-width: 90%;
  height: 100%;
  overflow-y: scroll;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 40px;
  text-align: center;
}
