:root {
  --medium-gray: #bababa;
  --light-gray: #e3e3e3;
  --muted-light-purple: #efdbee;
  --muted-light-blue: #dfdaf4;
  --muted-light-teal: #d5e7ec;
}
.hidden {
  display: none !important;
}
body {
  position: relative;
  height: fit-content;
  margin: 0;
  padding: 0px 0px 180px 0px;
  font-family: "Poppins", sans-serif;
  background: var(--light-gray);
}
main {
  height: fit-content;
  padding: 20px;
  width: 700px;
  max-width: 95%;
  margin: auto;
}
header {
  background: var(--medium-gray);
}
#header-content {
  width: 700px;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#logo {
  width: 300px;
  max-width: 90%;
  height: auto;
}
text {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-weight: 700;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 5px;
  stroke-linejoin: bevel;
  text-anchor: start;
  dominant-baseline: middle;
  letter-spacing: 3px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 10s ease forwards;
}
#not-word {
  font-size: 110px !important;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 2000;
    text-shadow: none;
  }
  100% {
    stroke-dashoffset: 0;
    text-shadow:
      0px 0px 30px white,
      0px 0px 20px white,
      0px 0px 10px white,
      0px 0px 10px white,
      0px 0px 10px white,
      0px 0px 5px white,
      0px 0px 2px white;
  }
}
label {
  white-space: nowrap;
  padding: 10px;
  text-shadow:
    0px 0px 40px white,
    0px 0px 40px white,
    0px 0px 20px white,
    0px 0px 20px white,
    0px 0px 10px white,
    0px 0px 10px white,
    0px 0px 5px white,
    0px 0px 5px white,
    0px 0px 2px white,
    0px 0px 2px white;
}
select {
  padding: 5px;
  border-radius: 10px;
}
#header-transition {
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, var(--medium-gray), var(--light-gray));
}
#overlay {
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 20px;
}
#overlay-content {
  background: white;
  border: solid rgba(255, 255, 255, 0.75) 15px;
  box-sizing: border-box;
  width: 700px;
  max-width: 90%;
  height: 100%;
  overflow-y: scroll;
}
footer {
  background: var(--bright-purple);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 40px;
  text-align: center;
  animation: backgroundColorShift 5s alternate infinite;
  text-shadow:
    0px 0px 5px white,
    0px 0px 5px white,
    0px 0px 5px white,
    0px 0px 10px white,
    0px 0px 10px white,
    0px 0px 10px white,
    0px 0px 20px white,
    0px 0px 20px white,
    0px 0px 20px white;
}
@keyframes backgroundColorShift {
  0% {
    background: var(--muted-light-purple);
    box-shadow: 0px -5px 25px var(--muted-light-purple);
  }
  70% {
    background-color: var(--muted-light-blue);
    box-shadow: 0px -5px 25px var(--muted-light-blue);
  }
  100% {
    background-color: var(--muted-light-teal);
    box-shadow: 0px -5px 25px var(--muted-light-teal);
  }
}
